---
---
<div class="signal-rings" aria-hidden="true">
  <div class="signal-ring" style="animation-delay:0s"></div>
  <div class="signal-ring" style="animation-delay:1s"></div>
  <div class="signal-ring" style="animation-delay:2s"></div>
</div>
